---
import HomeLayout from "@/modules/core/layouts/HomeLayout.astro";
import ImplementsSection from "@/modules/home/presentation/sections/ImplementsSection.astro";
import SupplementsSection from "@/modules/home/presentation/sections/SupplementsSection.astro";
---

<HomeLayout>
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <SupplementsSection />
    <ImplementsSection />
  </main>
</HomeLayout>
